@tailwind base;
@tailwind components;
@tailwind utilities;

.rmdp-container  {
  width: 100%;
}

table td.SingleDate {
  min-width: 100px;
}
table td.SingleShift {
  min-width: 150px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  min-height: 38px;
}
input[type="color"]::-webkit-color-swatch {
  border: 1px solid rgb(209, 213, 219);
  border-radius: 6px;
}

.rmdp-panel * {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.rmdp-panel *::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}


.overflow-scroll {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.overflow-scroll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.CalendarTableWrapper {
  height: calc(100vh - 120px);
}

@media (max-width: 960px) {
  aside {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(1000px);
    z-index: 99;
    transition: all .4s ease-in-out;
  }

  aside.open {
    transform: translateX(0px);
  }

  .CalendarTableWrapper {
    height: calc(100vh - 260px);
  }

  table td.SingleShift {
    min-width: 100px;
  }
  table td.SingleDate {
    min-width: 48px;
  }

  .SingleDate .text-xs {
    font-size: 0.6rem;
    line-height: 0.8rem;
  }

  .SingleShift * {
    font-size: 0.72rem;
  }
}

.ModalHeight {
  height: 80%;
}
.NumpadWidth {
  width: 42%;
}
@media (min-width: 1600px) {
  .ModalHeight {
    height: 85%;
  }
  .NumpadWidth {
    width: 32%;
  }
}
@media (max-width: 450px) {
  .NumpadWidth {
    width: 92%;
  }
}

@keyframes ErrorShake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(0); }
  75% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}
